@page "/recipe/{id:guid}"
@inject IRecipeService RecipeService
@inject IAuthService AuthService

@if (Recipe is null)
{
    <span>@Message</span>
}
else
{
    <div class="media">
        <div class="media-body">
            <h2 class="mb-0">@Recipe.Name</h2>
            <p>@Recipe.Description</p>
            <ul>
                @foreach (var ingredient in Recipe.Ingredients)
                {
                    <li>@ingredient.Name, @ingredient.Preparation - @ingredient.Quantity @ingredient.Measurement</li>
                }
            </ul>
            <ul>
                @foreach (var step in Recipe.Steps)
                {
                    <li>@step.Content</li>
                }
            </ul>
            <p>Vegan? @Recipe.Vegan</p>
            <p>Vegetarian? @Recipe.Vegetarian</p>
            <button class="btn btn-primary">
                <i class="oi oi-plus"></i>Add to List
            </button>
            <p>Uploaded by: @Recipe.UploadedById on @Recipe.DateCreated.ToShortDateString()</p>
            @if (Recipe.Source is not null)
            {
                <p>Original source: @Recipe.Source</p>
            }

            Tags:
            @foreach (var tag in Recipe.Tags)
            {
                <p>@tag.Content</p>
            }
        </div>
        <AuthorizeView>
            <MudButton OnClick="@SaveRecipe">@saveButtonText</MudButton>
            @if (Recipe.UploadedById != User!.Id)
            {
                <MudButton Href="@($"recipe/{Id}/edit")">Edit Recipe</MudButton>
            }
        </AuthorizeView>
    </div>
}

@code
{
    private Recipe? Recipe = null;
    private string Message = string.Empty;
    private UserDto? User { get; set; }
    private string saveButtonText => recipeSaved ? "Remove from Saved Recipes" : "Save Recipe";
    private bool recipeSaved;
    
    [Parameter]
    public Guid Id { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        Message = "Loading recipe...";
        User = await AuthService.GetUser(await AuthService.GetUserId());
        var result = await RecipeService.GetRecipe(Id);
        if (!result.Success)
        {
            Message = result.Message!;
        }
        else
        {
            Recipe = result.Data;
            recipeSaved = User.SavedRecipes.Any(r => r.RecipeId == Recipe!.Id);
        }
    }

    private async Task SaveRecipe()
    {
        var entry = new UserRecipeDto
        {
            RecipeId = Recipe!.Id,
            UserId = User!.Id,
        };
        User.SavedRecipes.Remove(entry);
        var result = await RecipeService.SaveRecipe(entry);
        recipeSaved = !recipeSaved;
        if (!result)
        {
            Message = "Recipe could not be saved.";
        }
        else
        {
            Message = "Recipe saved!";
        }
    }
}