@page "/recipe/{id:guid}"
@inject IRecipeService RecipeService
@inject IAuthService AuthService
@attribute [Authorize]

@if (Recipe is null)
{
    <span>@Message</span>
}
else
{
    <div class="media">
        <div class="media-body">
            <h2 class="mb-0">@Recipe.Name</h2>
            <p>@Recipe.Description</p>
            <h5>Ingredients</h5>
            <ul>
                @foreach (var ingredient in Recipe.Ingredients)
                {
                    <li>@ingredient.Name, @ingredient.Preparation - @ingredient.Quantity @ingredient.Measurement</li>
                }
            </ul>
            <h5>Preparation</h5>
            <ul>
                @foreach (var step in Recipe.Steps)
                {
                    <li>@step.Content</li>
                }
            </ul>
            <div>
                <MudCheckBox ReadOnly="true" @bind-Checked="@Recipe.Vegetarian" Label="Vegetarian?"/>
                <MudCheckBox ReadOnly="true" @bind-Checked="@Recipe.Vegan" Label="Vegan?"/>
            </div>
            <p>Uploaded by: @Recipe.UploadedById on @Recipe.DateCreated.ToShortDateString()</p>
            @if (Recipe.Source is not null)
            {
                <p>Original source: @Recipe.Source</p>
            }

            Tags:
            @foreach (var tag in Recipe.Tags)
            {
                <MudChip>@tag.Content</MudChip>
            }
        </div>
        <AuthorizeView>
            <MudButton OnClick="SaveRecipe">Add to Saved Recipes</MudButton>
            @if (Recipe.UploadedById != UserId.Value)
            {
                <MudButton Href="@($"recipe/{Id}/edit")">Edit Recipe</MudButton>
            }
        </AuthorizeView>
    </div>
}

@code
{
    private Recipe? Recipe = null;
    private string Message = string.Empty;
    private Guid? UserId { get; set; }

    [Parameter]
    public Guid Id { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        Message = "Loading recipe...";
        var result = await RecipeService.GetRecipe(Id);
        if (!result.Success)
        {
            Message = result.Message!;
        }
        else
        {
            Recipe = result.Data;
        }
        UserId = await AuthService.GetUserId();
    }

    private async Task SaveRecipe()
    {
        var entry = new UserRecipe
        {
            RecipeId = Recipe!.Id,
            UserId = UserId.Value
        };
        var result = await RecipeService.SaveRecipe(entry);
        if (!result)
        {
            Message = "Recipe could not be saved.";
        }
        else
        {
            Message = "Recipe saved!";
        }
    }
}